.MMM-DogeClock {
  text-align: center;
  color: white;
}

.MMM-DogeClock h1 {
  font-size: 2em;
}

.MMM-DogeClock h2 {
  font-size: 1.8em;
  color: #0f0;
}

.MMM-DogeClock p {
  margin: 5px 0;
}

.MMM-DogeClock .container {
  background: #222;
  padding: 10px;
  border-radius: 10px;
}

.MMM-DogeClock .progress-bar {
  width: 100%;
  background: #444;
  height: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.MMM-DogeClock .progress {
  background: #0f0;
  height: 100%;
}
